// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dl {
  display: block;
  margin: 0px 1px;
}
dt {
  display: block;
}
dd {
  display: block;
  margin-left: 25px;
}

ul {
  padding-left: 0px;
}

#comment {
  width: 450px;
  height: 80px;
  line-height: 1.5em;
}
