// Place all the styles related to the threadBoards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.thread_boards label,input {
display: block;
width: 150px;
float: left;
margin-bottom: 10px;
}
div.thread_boards input {
display: block;
width: 150px;
float: left;
margin-bottom: 10px;
}
div.thread_boards label {
text-align: left;
padding-right: 15px;
}
div.thread_boards br { clear: left; }

.new_thread {
    padding: 5px;
}

.new_thread_link {
  margin: 15px 27px;
}

.thread_list {
  background-color: #CCFFCC;
  border: 1px;
  border-collapse: separate;
  border-spacing: 7px;
  width: 95%;
  margin: auto;
}

.thread_list  a{
  padding-right: 5px;
}
  