// Place all the styles related to the threadBoards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thread_input {
display: block;
width: 150px;
float: left;
margin-bottom: 10px;
}
.thread_label {
text-align: left;
padding-right: 15px;
}

.clear {
  clear: both;
}

.thread_boards {
  padding: 5px 15px;
}

.new_thread {
    padding: 5px 0px;
}

.new_thread_link {
  margin: 15px 27px;
}

.thread_link {
    padding: 10px 0px;
}


.thread_list {
  background-color: #CCFFCC;
  border: 1px;
  border-collapse: separate;
  border-spacing: 7px;
  width: 100%;
  margin: auto;
}

.thread_list  a{
  padding-right: 5px;
}

.thread_btm {
  text-align: left;
}

.responses_list {
  border: solid 1px #000000; border-collapse: collapse;
  width: 100%;
}

.responses_list td {
  padding: 5px 15px;
}
