<div class="category">
	<p id="notice"><%= notice %></p>
	
	<h1>Listing Categories</h1>
	
	<%= link_to '新規カテゴリ追加', new_category_path %>
	
	<table class="category_list">
	  <tbody>
	    <% @categories.each do |category| %>
	      <tr>
	        <td><%= link_to category["category_name"], category %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<div class="categoryFooter">
		<%= link_to 'カテゴリ管理', categories_path+"/edit" %>
	</div>
</div>
